body{
	background-color: #E7896B;
	margin: 0px;
}
#header{
	background-color: #42D2F1;
	height: 200px;
	width: 100%;
 	border-left:solid 5px yellow;
 	border-bottom:solid 5px yellow;

	margin-bottom: 0px;
	
}

#footer{
	background-color: #010A0C;
	height: 200px;
	width: 100%;

}

#content{
	background-color: #E5F1F4;
	height: auto;
	margin-top: 0px;
	width: 100%;

}